@charset "UTF-8";
body,
html {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-family: "Open Sans", arial, 'Apple SD Gothic Neo', 'Noto Sans CJK KR', '본고딕', 'KoPubDotum Medium', '나눔바른고딕', '나눔고딕', 'NanumGothic', '맑은고딕', 'Malgun Gothic', sans-serif;
}

/* 메인헤더 네비게이션의 메뉴들에서 기본 스타일 삭제.
가로정렬 된 값들에 대해 범용성 있는 소스코드
*/
.horizontal {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.horizontal > * {
  float: left;
}

header.main-header {
  border-bottom: 1px solid #ccc;
}

header.main-header .clearfix:after {
  content: "";
  display: block;
  clear: both;
}

header.main-header > nav > ul.left {
  float: left;
}

header.main-header > nav > ul.left > li:first-of-type {
  margin-left: 15px;
  margin-right: 15px;
}

header.main-header > nav > .right {
  float: right;
}

header.main-header > nav > .right ul > li > a {
  color: #585858;
  text-decoration: none;
  /* 상하는 0 좌우는 각각 3,7 을 의미... 클릭이 되냐/안되냐 하는 영역 설정 */
  padding: 0 3px;
  margin: 0 7px;
}

header.main-header > nav > .right .room-list {
  font-size: 14px;
}

header.main-header > nav > .right .auth-list {
  font-size: 12px;
}

header.main-header > nav ul > li > a {
  display: inline-block;
  line-height: 60px;
  height: 60px;
}

header.main-header > nav ul > li > a img {
  vertical-align: middle;
}

.search-container {
  position: relative;
  height: 678px;
  background-image: url("../images/MainSearch-img-2018.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #ebe6e0;
}

.search-container .search-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.6);
}

.search-container .search-bottom > form {
  width: 534px;
  margin: 30px auto;
}

.search-container .search-bottom > form > * {
  float: left;
  height: 50px;
  box-sizing: border-box;
}

.search-container .search-bottom > form > input {
  width: 434px;
  padding: 0 20px;
  border: none;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 50px;
}

.search-container .search-bottom > form > button {
  width: 100px;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 10px;
  color: white;
  background-color: #3b8de0;
  cursor: pointer;
  transition-duration: 0.1s;
}

.search-container .search-bottom > form > button:hover {
  background-color: #2074c8;
}

section.theme-search {
  width: 100%;
}

section.theme-search .theme-header {
  width: 960px;
  margin: 71px auto 30px;
  text-align: center;
}

section.theme-search .theme-header h2 {
  font-size: 36px;
  margin-bottom: 3px;
}

section.theme-search .theme-header p.subtitle {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 20px;
}

section.theme-search .theme-contents {
  width: 960px;
  padding-bottom: 810px;
  margin: 0 auto;
}

section.theme-search .theme-contents * {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section.theme-search .theme-contents > ul > li {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

section.theme-search .theme-contents > ul > li:nth-of-type(3n) {
  margin-right: 0;
}

section.theme-search .theme-contents > ul > li:hover > .bg {
  transform: scale(1.2);
}

section.theme-search .theme-contents > ul > li > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

section.theme-search .theme-contents > ul > li > .bg {
  transition-duration: 0.3s;
}

section.theme-search .theme-contents > ul > li > .bg.pet {
  background-image: url("../images/pet.jpg");
}

section.theme-search .theme-contents > ul > li > .bg.guarantee {
  background-image: url("../images/guarantee.jpg");
}

section.theme-search .theme-contents > ul > li > .bg.pano {
  background-image: url("../images/pano.jpg");
}

section.theme-search .theme-contents > ul > li > .bg.parking {
  background-image: url("../images/parking.jpg");
}

section.theme-search .theme-contents > ul > li > .bg.direct {
  background-image: url("../images/direct.jpg");
}

section.theme-search .theme-contents > ul > li > .bg.officetel {
  background-image: url("../images/officetel.jpg");
}

section.theme-search .theme-contents > ul > li > .mask {
  background-color: #2a2a2a;
  opacity: .4;
}

section.theme-search .theme-contents > ul > li > .typo {
  color: white;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

section.theme-search .theme-contents > ul > li > .typo > hr {
  width: 46px;
}

section.theme-search .theme-contents > ul > li > .typo > h3 {
  font-size: 24px;
}

section.theme-search .visual-banner * {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section.theme-search .visual-banner > ul > li {
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
}

section.theme-search .visual-banner > ul > li > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

section.theme-search .visual-banner > ul > li.banner-img {
  background-image: url("images/banner-img.jpeg");
}
